<h1>Admin Dashboard</h1>
<button class="btn btn-products" type="button">
<%= link_to 'All Products', [:admin, :products] %>
<span class="badge"><%= @product_count %></span>
</button>
<br></br>

<button class="btn btn-products" type="button">
<%= link_to 'All Categories', [:admin, :categories] %>
<span class="badge"><%= @category_count %></span>
</button>
<button class="btn btn-products" type="button">
<div class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
All Categories <span class="caret"></span>
<span class="badge"><%= @category_count %></span>
</a>
<ul class="dropdown-menu">
<% Category.all.each do |category| %>
  <li><%= link_to category.name, category %></li>
  <% end %>
  </ul>
  </div>
  </button>